---
import Layout from "../layouts/Layout.astro";
import GradientText from "../components/GradientText.astro";
import { Button } from "@/components/ui/button";
import ExperienceSummary from "@/components/ExperienceSummary.astro";
import GradientBorder from "@/components/GradientBorder.astro";
import SkillTag from "@/components/SkillTag.astro";
import ExperienceCard from "@/components/ExperienceCard.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import ExperienceSelector from "@/components/ExperienceSelector.astro";

type Experience = CollectionEntry<"experiences">;

const experiences: Experience[] = await getCollection("experiences");
---

<Layout>
  <div class="flex flex-col items-center justify-center  gap-12">
    <div class="flex flex-col items-center space-y-4">
      <h1>
        Hey, I'm Sebastian
        <GradientText> Web Developer </GradientText>
      </h1>
      <h2>
        Hey, I'm Sebastian
        <GradientText> Web Developer </GradientText>
      </h2>
      <h3>
        Hey, I'm Sebastian
        <GradientText> Web Developer </GradientText>
      </h3>
    </div>

    <div class="flex flex-col items-center space-y-4">
      <Button> Click Me </Button>
      <GradientBorder animated={true}>
        <Button variant={"gradient"}> Gradient Button </Button>
      </GradientBorder>
      <Button variant={"contact"} size={"lg"}> Contact Me </Button>
    </div>

    <div class="flex flex-col items-start space-y-4">
      {
        experiences.map((exp) => (
          <ExperienceSummary
            jobTitle={exp.data.jobTitle}
            companyName={exp.data.companyName}
          />
        ))
      }
    </div>

    <div class="flex flex-wrap gap-4 items-start space-y-4">
      <SkillTag>JavaScript</SkillTag>
      <SkillTag>TypeScript</SkillTag>
      <SkillTag>React</SkillTag>
      <SkillTag>Astro</SkillTag>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2  gap-6">
      {
        experiences.map((exp) => (
          <ExperienceCard
            jobTitle={exp.data.jobTitle}
            companyName={exp.data.companyName}
            startDate={exp.data.startDate}
            endDate={exp.data.endDate}
            skills={exp.data.skills}
            description={exp.data.description}
          />
        ))
      }
    </div>

    <div class="w-full flex flex-col items-center space-y-4">
      <ExperienceSelector experiences={experiences} />

    </div>
  </div>
</Layout>
