---
import type { CollectionEntry } from "astro:content";
import SkillTag from "./SkillTag.astro";
import GradientBorder from "./GradientBorder.astro";

type Experience = CollectionEntry<"experiences">;

const { jobTitle, companyName, startDate, endDate, skills, description } = Astro.props as Experience["data"];
---

<GradientBorder animated={true}>
    <div class="h-full border  border-accent/30 bg-secondary flex flex-col align-center px-12 py-8 gap-10  shadow-lg">
    <div class="mb-2 flex items-center gap-6">
        <div class="size-20 rounded-full bg-accent/10"></div>
        <div>
        <h4 class="font-bold">{jobTitle}</h4>
        <p class="text-subtext">
            {companyName} • {startDate} - {endDate}
        </p>
        </div>
    </div>
    <p class="mb-4 text-text whitespace-pre-line">{description.replaceAll('\n', '\n\n')}</p>
    <div class="flex flex-col gap-2 align-start">
        <p class="mb-2 font-semibold text-white">Skills & Technologies</p>
        <div class="flex flex-wrap gap-2">
        {skills?.map(skill => (
            <SkillTag>{skill}</SkillTag>
        ))}
        </div>
    </div>
    </div>
</GradientBorder>
